[Unit]
Description=NASA judge backend
After=network.target

[Service]
User=nasa
Group=nasa
WorkingDirectory=/etc/nasajudgebackend
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
