<h4>Dear {{ .Data.Username }},</h4>
<p></p>
<p>Thanks for signing up NASAJudge, kindly use this <a href="{{ .URL }}/user/confirm/{{ .Token }}">link</a> to activate your account.</p>
<p></p>
<p></p>
<p>Cheers!</p>
